<div class="card">
    <div class="card-header">
        <i class="fa fa-list"></i>Project
    </div>
    <div class="card-body" *ngIf="projectList">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" [routerLink]="['/project/add']">Add New</button>
            </div>
     </div>
        <p-table #dt [columns]="cols" [value]="projectList" selectionMode="single" 
                [(selection)]="selectedProject" dataKey="projectId" 
                (onRowSelect)="onRowSelect($event)" (onRowUnSelect)="onRowUnSelect($event)" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="caption">
                    <div class="form-group row">
                        <div class="col-md-1">
                            <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" >
                            </button>
                        </div>
                        <div class="col-md-11 d-flex justify-content-end">
                            <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-project let-columns="columns">
                    <tr [pSelectableRow]="project">
                        <td *ngFor="let col of columns">
                                {{project[col.field]}}
                        </td>
                        <td>
                            <input type="button" name="editButton" class="btn btn-outline-secondary btn-sm ml-1" [routerLink]="['/project', project.projectId,'edit']" value="Edit" />
                            <input type="button" name="deleteButton" class="btn btn-outline-secondary btn-sm ml-1" (click)="deleteButtonClick(project.projectId)" value="Delete" /> 
                            <input type="button" name="documentsButton" class="btn btn-outline-secondary btn-sm ml-1" [routerLink]="['/projectdocumentlist',project.projectId]" [queryParams]="{projectName:project.name}" value="Doc"/>
                            <input type="button" name="serverButton" class="btn btn-outline-secondary btn-sm ml-1" [routerLink]="['/projectserverlist',project.projectId]"  [queryParams]="{projectName:project.name}" value="Server"/>
                            <input type="button" name="editButton" class="btn btn-outline-secondary btn-sm ml-1" [routerLink]="['/projectdeployment', project.projectId]" [queryParams]="{projectName:project.name}" value="Deploy" />
                        </td>
                    </tr>
                </ng-template>
        </p-table>
    </div>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>
<!-- To display toast message when user delete particular record -->
<ngb-toast class="bg-warning fixed-bottom" *ngIf="showToast" (hide)="closeToast()"   [autohide]="true" >
  Record Deleted.
</ngb-toast>