<div class="card">
    <div class="card-header">
        <i class="fa fa-server"></i>Project Servers<br>
    </div>
    <div class="card-body" *ngIf="projectServerList">
        <div class="card-title">
            Server related to project:{{selectedProjectId}}  - {{selectedProjectName}}
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <button type="button" class="btn btn-primary" [routerLink]="['/projectserver',selectedProjectId,'add']" [queryParams]="{projectName:selectedProjectName}">Add New</button>
                <button type="button" class="btn btn-outline-primary ml-2" [routerLink]="['/projectlist']">Projects</button>
            </div>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Server</th>
                    <th scope="col">Deployed Server Type</th>
                    <th scope="col">URL</th>
                    <th scope="col">Database Server</th>
                    <th scope="col">Database Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let projectServer of projectServerList; let i=index" (click)="setClickedRow(projectServer,i)" [class.table-active]="i==selectedRow">
                    <td scope="row">{{projectServer.projectServerMappingId}}</td>
                    <td scope="row">{{projectServer.serverName}}</td>
                    <td scope="row">{{projectServer.deployedAsServerType}}</td>
                    <td scope="row">{{projectServer.urlToAccess}}</td>
                    <td scope="row">{{projectServer.databaseServerName}}</td>
                    <td scope="row">{{projectServer.dbName}}</td>
                    <td><input type="button" name="editButton" class="btn btn-outline-secondary btn-sm" [routerLink]="['/projectserver',projectServer.projectServerMappingId,'edit']"  [queryParams]="{projectId:selectedProjectId, projectName:selectedProjectName}" value="Edit" /></td>
                    <td><input type="button"  name="deleteButton" class="btn btn-outline-secondary btn-sm" (click)="deleteButtonClick(projectServer.projectServerMappingId)" value="Delete" /></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChanged($event)">

            </ngb-pagination>
        </div>
    </div>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>
<!-- To display toast message when user delete particular record -->
<ngb-toast class="bg-warning fixed-bottom" *ngIf="showToast" (hide)="closeToast()"   [autohide]="true" >
  Record Deleted.
</ngb-toast>