<div class="card">
    <div class="card-header">
        <i class="fa fa-server"></i>Project Documents <br>
        
    </div>
    <div class="card-body" *ngIf="projectDocumentList">
        <div class="card-title">
            Documents related to project: {{selectedProjectId}} - {{selectedProjectName}}
        </div>
        <div class="row">
            <div class="col-md-6 mb-2">
                <button type="button" class="btn btn-primary" [routerLink]="['/projectdocument',selectedProjectId,'add']" [queryParams]="{projectName:selectedProjectName}" >Add New</button>
                <button type="button" class="btn btn-outline-primary ml-2" [routerLink]="['/projectlist']" >Projects</button>
            </div>
        </div>
        <p-table #dt [columns]="cols" [value]="projectDocumentList" selectionMode="single" 
             [(selection)]="selectedProjectDocument" dataKey="projectDocumentMappingId" 
             (onRowSelect)="onRowSelect($event)" (onRowUnSelect)="onRowUnSelect($event)">

             <ng-template pTemplate="caption">
                <div class="form-group row">
                    <div class="col-md-1">
                        <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" >
                        </button>
                    </div>
                    <div class="col-md-11 d-flex justify-content-end">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
								<input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-projectDocument let-columns="columns">
                <tr [pSelectableRow]="projectDocument">
                    <td *ngFor="let col of columns">
                            {{projectDocument[col.field]}}
                    </td>
                   <td>
                    <input type="button" name="editButton" class="btn btn-outline-secondary btn-sm ml-1" [routerLink]="['/projectdocument',projectDocument.projectDocumentMappingId,'edit']" [queryParams]="{projectName:selectedProjectName}" value="Edit">
                    <input type="button" name="deleteButton" class="btn btn-outline-secondary btn-sm ml-1" (click)="deleteButtonClick(projectDocument.projectDocumentMappingId)" value="Delete">
                    <input type="button" name="downloadButton" class="btn btn-outline-secondary btn-sm ml-1" (click)="downloadButtonClick(projectDocument.projectDocumentMappingId)" value="Download">
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
</div>
<!-- To display toast message when user delete particular record -->
<ngb-toast class="bg-warning fixed-bottom" *ngIf="showToast" (hide)="closeToast()"   [autohide]="true" >
  Record Deleted.
</ngb-toast>